<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body> 

     partial are like function or like module 
    <%- include('_header'); %>
    <h1>Codeial /<%= title %></h1>

    <%- include('_footer'); %>
    
</body>
</html> -->

<!-- layouts -->

<link rel="stylesheet" href="/CSS/user_home.css">
<h1>Codeial /<%= title %></h1>




